﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1121 N college drive<br />
    Maryville,Missouri-64468<br />
    <abbr title="Phone">P:</abbr>
    425.123.4444
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">S528123@nwmissouri.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">S528123@nwmissouri.edu</a>
</address>
